version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "npm"
      - "dependencies"
    ignore:
      - dependency-name: "@types/node"
        versions:
          - "21"
          - "22"
          - "23"
          - "24"
          - "25"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
